@media (max-width: 850px){
    .left-block {
        background: #cfc38f;
        width: 243px;
    }.content-block {
        width: 100%;
        margin-left: 243px;
    }.gallery-back {
        padding: 13px 22px 27px;
    }.popup-info {
    width: 26%;
    color: #ffe987;
    padding-left: 25px;
    flex-direction: column;
}
}

@media (max-width: 720px){
.mail-box {
    display: none;
    width: 159px;
}.user-name {
        display: none;
    width: 230px;
    margin-left: 25%;
}.left-block {
    position: relative!important;
    background: #cfc38f;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
 }.gallery-header {
    flex-direction: column;
}
 #main {
    padding-top: 90px;
    flex-direction: column-reverse;
}.content-block {
    width: 100%;
    margin-left: 0;
}gallery-header {
    flex-direction: column;
    width: 100%;
}.gallery-info {
    width: 100%;
    padding: 8px 18px 17px 7px;
} h1 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    padding: 25px 32px 9px 14px;
}.gallery-back {
    font-size: 13px;
    width: 100%;
    letter-spacing: 1.8px;
    background: #cfc38f;
    white-space: pre-line;
    text-decoration: none;
    padding: 23px 36px 31px;
    font-weight: 500;
    line-height: 191%;
    text-transform: uppercase;
    color: #4f3f00;
}.header-descr {
    text-align: right;
    width: 39px;
}
}

@media (max-height: 740px){
    .nav {
    padding-top: 12px;
}.nav a {
    padding: 7px 0 6px 38px;
}.footer p {
    padding-bottom: 6px;
}
.left-block{
    position: absolute;
}
}